.user-list-admin{
  margin-bottom: 10px;
}

.admin-nav{
  text-align: center;
}
.edit-user-button{
  padding-top: 2px;
  padding-left: 5px;
  padding-bottom: 2px;
  padding-right: 5px;
  font-size: 14px;
}

.admin-search{
  text-align: center;
  margin: 5px;
}

.admin-detail-form{
  width: 60%;
  margin: 0 auto;
}

.order-summary-admin-info{
  text-align: center;
}

.paid-checkbox-label{
  input{
    margin-top: 5px;
  }
  font-size: 15px;
}
