navbar {

  display: block;
  background: white;
  margin-bottom: 0px;


  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 15px;
  }
  .navbar {
    background: white;
  }
  .navbar-header{
    cursor: pointer;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: black;
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken(#f31214, 10%);
    }
    &:hover {
      background: none;
      color: #f31214;
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid black;
    margin-right: 10px;
    margin-top: 10px;
    background: none;
    outline: none !important;
    &:hover {
      color: #fff;
      background-color: rgba(0,0,0,0.7);
    }
  }

  .shopping-cart {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
    &:hover {
      color: rgba(17, 38, 96, 1);
      cursor: pointer;
    }
  }
  .right-nav{
    float: right;
  }

  .welcome {
    float: right;
    margin-top: 12px;
    cursor: pointer;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
    .checkout-nav{
      font-size: 14px;
      color: black;
      padding-right: 5px;
    }
  }
}
