<div class="container">
    <form ng-submit="createOrder(newOrder)">
        <h3>Checkout</h3>
        <hr>
        <table class="table table-striped">
            <tr>
                <th></th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
            <tr ng-repeat="item in cartItems">
                <td>
                    <h3>{{item.product.title}}</h3><img ng-src="{{item.product.photoUrl}}" style="width:20px; height:auto; "></td>
                <td>{{item.product.name}}</td>
                <td>${{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>${{item.quantity * item.product.price}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><strong>Total: </strong></td>
                <td>${{newOrder.orderSummary.priceTotal}}</td>
            </tr>
        </table>

        <button ng-click="showAddressForm=true" class="btn btn-primary">Add New Address</button>

        <button ng-click="showCardForm=true" class="btn btn-primary">Add New Card</button>

        <div>
            <h2>Choose An Addresses</h2>
            <h3>Choose a billing address</h3>
            <select ng-model="newOrder.orderSummary.billingId" ng-options="address.id as address.street1 for address in addresses"></select>
            <h3>Choose a shipping address</h3>
            <select ng-model="newOrder.orderSummary.shippingId" ng-options="address.id as address.street1 for address in addresses"></select>
        </div>

        <div>
            <h2>Choose Your Payment</h2>
            <select ng-model="newOrder.orderSummary.cardId" ng-options="card.id as card.number for card in cards"></select>
        </div>

        <button type="submit" class="btn btn-default">Submit Your Order</button>
    </form>

    <hr>

    <div ng-show="showAddressForm">
        <address-form></address-form>
    </div>

    <div ng-show="showCardForm">

        <card-form user-id="me.id"></card-form>
    </div>
</div>
