<section>
  <pre>
    {{order.orderSummary | json}}
  </pre>
  <pre>
    {{order.orderDetails | json}}
  </pre>
  <pre>
    {{order.orderAddress | json}}
  </pre>

<form ng-submit="saveChanges(order)">
  <h1>Order Summary</h1>
  <h3>Order id: {{order.orderSummary.id}}</h3>
  <p>Date Placed: {{order.orderSummary.createdAt}}</p>
  <div class="form-group">
    <label class="checkbox-inline"><input type="checkbox" ng-model="order.orderSummary.paid" > Paid</label>
  </div>
  <div ng-repeat="orderDetail in order.orderDetails">
    <h3>Product Purchase ID: {{orderDetail.id}}</h3>
    <h4>Name: {{orderDetail.product.name}}</h4>
    <div class="form-group">
      <label class="inline">Quantity<input type="number" ng-model="orderDetail.quantity"> </label>
    </div>
    <div class="form-group">
      <label class="inline">Purchase Cost<input type="number" ng-model="orderDetail.purchaseCost"> </label>
    </div>
    <label class="checkbox-inline"><input type="checkbox" ng-model="orderDetail.processed"> Processed</label>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>

  </form>

</section>
