.checkoutBtn {
  margin: 0px auto 0px auto;
}

.checkCont {
  text-align: center;
  p {
    font-family: Helvetica;
    display: inline;
  }
}

.cartBox {
  padding-top: 3em;
  width: 70%;
  margin: auto;
}

.total {
  text-align: center;
}

